.section_login {
  margin-top: 200px;
}
:host {
  display: flex;
  justify-content: center;
  height: 80vh;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}